.title {
    font-family: 'Kaisei Opti', serif;
}

#type_area {
    z-index: 3;
}

img {
    z-index: 2;
}

#tweet {
    background-color: #1d9bf0;
    color:#FFFFFF;
}

#sidebar {
    background-color: #f8ecf3;
    box-shadow: 2px 2px 6px #e4e4e4;
}

.footer {
    background-color: #ece3e9;
}

@keyframes rot {
    0% {
      transform: rotate3d(1,1,1,0deg);
      opacity:1;
    }
    100% {
      transform: rotate3d(1,1,1,360deg);
      opacity:0;
    }
  }

#typedBlock {
    animation: rot 0.5s forwards;
}